body{
    background-color: antiquewhite;
    text-align: left;
}

#naslov{
    text-align:center;
    color:darkblue;
}
.sportovi{
    background-color: bisque;
    text-align: center;
}
.sport{
    display:inline;
    list-style:none;
    margin-top: 10px;
    margin-right:10px;
}
.wrapp{
    text-align: center;
}
.img{
    display: inline-block;
    vertical-align: top;
}

.naslov{
    color:darkblue;
}

.nesto{
    text-align: center;
}
